<div class="container">

  <h1 class="text-center">Contact.io</h1>
  <span class="tagline"><center>a bare bones jQuery contact list</center></span>


  <div class="spacer"></div>

  <div class="row text-center">
      <form class="form-inline" method="post" action="/new">
        <div class="form-group">
          <input name="name" type="text" class="form-control" id="name" placeholder="Jane Doe">
        </div>
        <div class="form-group">
          <input name="email" type="email" class="form-control" id="email" placeholder="jane.doe@example.com">
        </div>
         <div class="form-group">
          <input name="number" type="text" class="form-control" id="number" placeholder="604-222-2590">
        </div>
        <div class="row spacer">
          <button type="submit" class="btn btn-primary">Add New Contact</button>
        </div>
      </form>
  </div>

  <div class="big-spacer"></div>

  <div class="contacts row col-sm-8">
  
    <div id="contact-list">
      <% @contacts.each do |contact| %>
        <div class="contact" id="<%= contact.id %>">
          <div class="contact-header text-center">
            <a href ="/post" data-type="text" data-pk="<%= contact.id %>" data-url="/post" data-name="name" class="contact-name"><%= contact.name %></a> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-minus" aria-hidden="true"></span><span class="glyphicon glyphicon-remove delete-contact" aria-hidden="true"></span>
          </div>
          <div class="contact-body">
            <a href ="/post" data-type="text" data-pk="<%= contact.id %>" data-url="/post" data-name="email" class="contact-email"><%= contact.email %></a><a href ="/post" data-type="text" data-pk="<%= contact.id %>" data-url="/post" data-name="number" class="contact-number"><%= contact.number %></a>
          </div>
        </div>
      <% end %>
    </div>



  </div>

</div>